/*styling for h1 emements and set width for full cointainer, set height to allow autometically, get the text on the center, makes text bold.*/
h1 {
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: bold;
}


/*style for the body, set background-color of the page, add top padding, margin for the centers content and sets font family.*/
body {
    background-color: blanchedalmond;
    padding-top: 2rem;
    padding-bottom: 9rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/*style the class home for header home page header, display items in flex container, space items evenly, center items vertically, add padding*/
.home {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

/*display nav when check-label is clicked, makes visible*/
#check-label:checked~nav {
    display: block;
}

/*style for chech-label, hides elements, set font size, set position absolute, move elements right to 1rem*/
#check-label {
    display: none;
    font-size: 16px;
    position: absolute;
    right: 1rem;
}

/*add hover effect on the links, on hover change color*/
nav a:hover {
    color: darkgreen;
    text-decoration: none;
}

/*style for anchor tags, padding around links, remove defaults underline,color to blue to the links*/
a {
    padding: 0.5rem;
    text-decoration: none;
    color: blue;
}

/*style for the class image, display images in a flex container, space images evenly, add gap for 10px to space between, padding around container*/
.image {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 1rem;
}

/*style inside the class images, set container width, height to auto to maintains*/
.image img {
    width: 23%;
    height: auto;
}

/*style id contact for background-image,set text color, prevents repeatition*/
#contact {
    text-align: center;
    font-weight: bolder;
}
.contact-container{
    justify-content: center;
    align-items: center;
}
table{
    margin: 0;
    width: 100%;
}
th, td{
    padding:8px;
    text-align: center;
}
#product-details{
    text-align: justify;
    font-weight: bold;
}

/*style for the video, set full width and height for vh*/
video {
    width: 100%;
    height: 40vh;
}

/*style for class container, display in a flex container, space items evenly, center items vertically*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*style for iframe, hides overflow content, set width to 50%*/
.iframe {
    overflow: hidden;
    width: 50%;
    height: 300px;
    padding: 20px;
}

/*style for class address, set the width to half of the container*/
.address {
    width: 50%;
}

/*style for footer,set background-color to page, remove the padding, set the text to center, fixed the position to bottom, set the bottom of the screen, align to right, set full width*/
footer {
    background-color: lightcoral;
    padding: 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

/*image site address (https://www.pexels.com/photo/white-petaled-flowers-414660/)*/
/*style for background image, set to stop repeatition,cover entire container, put on the center*/
#body {
    background-image: url(../css/images/pink-decoration.webp);
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/*style for id external, set position to relative, set text color, text center, remove padding, set full width, remove bottom margin*/
#external a {
    position: relative;
    color: rgba(black);
    text-align: center;
    padding: 0;
    width: 100%;
    background-color: aliceblue;
    margin: 0 auto;

}

/*style for the class middle, text to center, set padding arount content*/
.middle {
    text-align: center;
    padding: 1rem;
}

/*style for class login, makes text to bold, set font size, text to center, set fixed height, width to 90%, add padding and margin to center elements*/
.login {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    height: 30px;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
}

/*style for class paragraph, set text color, set background-color, font size, font wight to make bold, center the text, center elements, full container for width*/
.paragraph {
    color: yellow;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

/*style for inputs, add border, margin, padding and full width*/
form input[type="email"]
form input[type="password"] 
form input[type="text"] 
form input[type="submit"] {
    border: 2px solid black;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
}

/*style for fieldset and remove border*/
fieldset {
    border: none;
}

/*style for id form-body, add margin, remove border*/
#form-body {
    margin: 25px;
    border: none;
}

/*style for id h1, set font size, center text*/
#h1 {
    font-size: 3rem;
    text-align: center;
}

/*style for id congratulation, set background-color, add padding*/
#congratulation {
    background-color: burlywood;
    padding: 2rem;
}

/*style for class did-one, set background-color, set border, set width, fixed the height, set font size*/
.div-one {
    background-color: brown;
    border: 4px solid black;
    width: 40%;
    height: 100px;
    font-size: 2rem;
}
/*style for id success, set font-size, add padding and text to center*/
#success {
    font-size: 4rem;
    padding: 6rem 2rem;
    text-align: center;
}

/*image webside(https://www.freepik.com/free-vector/gold-confetti-celebratory-design_3603091.htm#fromView=keyword&page=1&position=4&uuid=ca1f30d6-8d43-4723-9326-470ca66abf43)*/
/*style for id booked, used background image*/
#booked {
    background-image: url(../css/images/gold-confetti-celebratory-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}
#booked-nav{
    text-align: center;
    padding-top: 1rem;
    
}

/*this is for the dropdown menu*/
/*style for class one, set position relative, text color, text center, remove padding, full width, hides elements*/
.one {
    position: relative;
    color: aliceblue;
    text-align: right;
    padding: 0;
    width: 100%;
    display: none;
}

/*style for list inside id link, set no style for bullets points, add padding*/
#link li {
    list-style: none;
    padding: 0.5rem;
    text-align: right;
}

/*style for id link, display as block elements*/
#link {
    display: block;
}
/*media query for mobile*/
@media screen and (max-width:768px) {
.div-one{
    height: auto;
    width: 90%;
    font-size: 1rem;
}
#h1{
    padding: 1rem;
    font-size: 1.5rem;
}
}

/*media query for tablets and larger items , hides elements, set position  relative, remove box shadow,set swidth to fit content, set right padding*/
@media screen and (min-width:768px) {
    .one {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }


    /*style id link, display in flex container*/
    #link {
        display: flex;
    }

    /*style for list inside the id link, set padding left and remove list style*/
    #link>li {
        padding-left: 1rem;
        list-style: none;
    }

    /*style for id check-label, hides elements*/
    label[for="check-label"] {
        display: none;
    }
    .div-one{
        font-size: 1.2rem;
        width: 50%;
        height: 80px;
    }
}

/*media query for laptop and up*/
@media screen and (min-width: 992px) {
    #link li a:hover {
        background-color: yellow;
    }

}